<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>Đăng xuất</h2>
    <p>Bạn có muốn thoát chương trình?</p>

    @Html.ActionLink("Yes, Log Out", "Logout", "Account")

    @Html.ActionLink("Cancel", "AccountInfo", "Account")
</body>
</html>