
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h2>Trang Chủ</h2>
<style>
    body {
        background-image: url('../../content/image/quiz_800x450.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

